spring:
  datasource:
    url: jdbc:postgresql://prod-db:5432/vitacare_db
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate

eureka:
  client:
    service-url:
      defaultZone: http://prod-eureka:8761/eureka

logging:
  level:
    org.vitacare: INFO